#squares{
    height: 140px;
    width: 140px;
    background-color: blue;
}

#circle{
    height: 140px;
    width: 140px;
    background-color: blue;
    border-radius: 70px;
    
}

#triangle{
    width: 140px;
    height: 140px;
    background: blue;

    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

#pacmanCircle{
    width: 140px;
    height: 140px;
    background: blue;
  border-radius: 70px;
    
}

.pacmanPie{
    width: 140px;
    height: 140px;
    background: white;

    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    position: relative;
    bottom: 136px;
}

h2 {
    font-family: sans-serif;
}